*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacig: lpx;
}
body{
    min-height: 100vh; 
    /* vh means the height of view port */
    max-width: 100%;
    display: flex;
    /* calculator center me chahiye isliye display flex ka use kiya hai */
    justify-content:center;
    align-items:center;
    /* display: grid
    place-holder:center   ham ais abhi kar sakte hain */
    background: linear-gradient(45deg,  #0a0a0a, #3a4452);

}
.calculator{
    padding: 15px;
    box-shadow: 0 0 15px #0a0a0a;
    border: 2px solid rgb(red, green, blue)
    border-radius: 15px;
}
.display input{
    width: 360px;
    border: none;
    outline: none;
    padding: 20px;
    margin: 10px;
    background: transparent;
    color: #fff;
    font-size: 40px;
    text-align: right;
    cursur: pointer;
}
input: :placeholder{
    color: #fff;
} 
button{
    width: 70px;
    height: 70px;
    margin: 10px;
    background: transparent;
    color: #fff;
    font-size: 22px;
    font-margin: 600;
    border:0;
    border-radius: 50%;
    box-shadow: -5px -6px 15px #0a0a0a;
    outline: 1px solid #313131;
    outline-offset: 10px;
    cursor: pointer;

}
button:active{
    background: blue;
    transform: translate(2px, 2px);
}
.opr{
    color: yellow;
    background: black;
    font-weight: 700;
}
#eqBtn{
    background: orangered;
    font-weight: 9000;
}
